
body{
    background-color: #c1c1c1;
}

.index_nav{
    background-color: rgb(82, 82, 82);
    padding: 10px;
}


.headers{
    font-family:fantasy;
    color: rgb(55, 67, 77);
}


#index_category{
    color:#000000;
    font-size: x-large;
    background-color: rgb(82, 82, 82);
}

#index_head{
    color: rgb(77, 77, 77);
    font-size: x-large;
 
}

#navbar-brand{
   margin: 10px;
}

#shopping_cart_item{
    display: flex;
    width: 400px;
    justify-content: center;
}
